region              = "us-ashburn-1"
tenancy_ocid        = "ocid1.tenancy.oc1..example"
compartment_ocid    = "ocid1.compartment.oc1..example"
vcn_display_name    = "github-upst-vcn"
vcn_cidr_block      = "10.10.0.0/16"
vcn_dns_label       = "upstvcn"
subnet_display_name = "github-upst-public-subnet"
subnet_cidr_block   = "10.10.1.0/24"
subnet_dns_label    = "public"
allowed_ssh_cidr    = ""
